.jumbotron {
	background-color:  yellow;
	color: black;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 5px 15px 5px 25px;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color:  yellow;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
}

.footer-address-icon {
	padding-right: 10px; 
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.tab-content {
	padding-top: 10px;
}